.container {
  margin: 25px;
  display: flex;
  justify-content: center;
}

.error {
  margin: 50px;
  display: flex;
  justify-content: center;
  color: orangered;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  font-size: 15px;
  max-width: 1072px;
  margin: 0 auto;
  border-radius: 4px;
  border: 2px solid grey;
  background-color: green;
  color: black;
}
